# {{ team_name }}  Consumer demo repo

This repository is a Consumer repository created for the {{ team_name }} team.

The url of the created netorca instance is {{ netorca_url }}

The username and password you can use to log in as this team is:
- username: {{ username }}
- password: {{ password }}